<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Job Buddy</title>
    <meta name="description" content="Leading Online Mentoring Platform">
    <meta name="keywords"
          content="free mentoring service">
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Open+Sans|Candal|Alegreya+Sans">
    <link rel="stylesheet" type="text/css" href="static/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/imagehover.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <style>
        a {
            color: black;
        }
    </style>
</head>
<body>
<!--Navigation bar-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index"><img src="static/img/Logo.png" style="height: 50px;"></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="mentormatch">Mentoring</a></li>
                <li><a href="events">Events</a></li>
                <li><a>Profile</a></li>
            </ul>
        </div>
    </div>
</nav>
<!--/ Navigation bar-->
<table id="bodyTable" bgcolor="#f9f9f9"
       style="width: 100%; height: 100%; background-color: #f9f9f9; margin: 0; padding:0;">
    <tbody>
    <tr>
        <td style="text-align: center;" valign="top">
            <table style="border-collapse:collapse;table-layout:fixed;width:1440px;height:1200px;margin:auto;"
                   border="0" width="1440" height="1200">
                <colgroup>
                    <col style="width:139px;">
                    <col style="width:17px;">
                    <col style="width:194px;">
                    <col style="width:18px;">
                    <col style="width:639px;">
                    <col style="width:51px;">
                    <col style="width:5px;">
                    <col style="width:194px;">
                    <col style="width:48px;">
                    <col style="width:2px;">
                    <col style="width:133px;">
                </colgroup>
                <tbody>
                <tr>
                    <td colspan="11" style="width:1440px;height:131px">­</td>
                </tr>
                <tr>
                    <td colspan="2" style="width:156px;height:25px">­</td>
                    <td style="vertical-align:top;padding:0px;width:212px;height:25px;" colspan="2" rowspan="1">
                        <div style="display:block;font-family:AvenirNext-Bold;font-size:18px;color:#000000;letter-spacing:0;text-align:left;width:212px;height:25px;">
                            <img src="static/img/events2/F032593C-A8E8-4E5A-B881-EF260B5997E5@2x.png" style="display:block;"
                                 width="212" height="25" alt="MONDAY, OCTOBER 26">
                        </div>
                    </td>
                    <td colspan="7" style="width:1072px;height:25px">­</td>
                </tr>
                <tr>
                    <td colspan="11" style="width:1440px;height:7px">­</td>
                </tr>
                <tr>
                    <td colspan="1" style="width:139px;height:39px">­</td>
                    <td style="vertical-align:top;padding:0px;width:868px;height:349px;" colspan="4" rowspan="13">
                        <div style="display:block;background-image:url(static/img/events2/A0F512CD-4D68-4EF9-A1E5-0CB31C59DB6A@2x.png);background-size: 100% auto;width:868px;height:349px;">
                            <table style="border-collapse:collapse;table-layout:fixed;width:868px;height:349px;margin:auto;"
                                   border="0" width="868" height="349">
                                <colgroup>
                                    <col style="width:123px;">
                                    <col style="width:36px;">
                                    <col style="width:8px;">
                                    <col style="width:36px;">
                                    <col style="width:8px;">
                                    <col style="width:36px;">
                                    <col style="width:8px;">
                                    <col style="width:111px;">
                                    <col style="width:422px;">
                                    <col style="width:25px;">
                                    <col style="width:17px;">
                                    <col style="width:8px;">
                                    <col style="width:14px;">
                                    <col style="width:16px;">
                                </colgroup>
                                <tbody>
                                <tr>
                                    <td colspan="14" style="width:868px;height:107px">­</td>
                                </tr>
                                <tr>
                                    <td colspan="1" style="width:123px;height:8px">­</td>
                                    <td style="vertical-align:top;padding:0px;width:36px;height:36px;" colspan="1"
                                        rowspan="5">
                                        <div style="display:block;border-radius:8px;color:#d7d7d7;width:36px;height:36px;">
                                            <img src="static/img/events2/D6D3484E-7C5F-47F7-ACA4-2F730571E6E8@2x.png"
                                                 style="display:block;" width="36" height="36" alt="Rectangle 2">
                                        </div>
                                    </td>
                                    <td colspan="1" style="width:8px;height:8px">­</td>
                                    <td style="vertical-align:top;padding:0px;width:36px;height:36px;" colspan="1"
                                        rowspan="5">
                                        <div style="display:block;border-radius:8px;color:#d7d7d7;width:36px;height:36px;">
                                            <img src="static/img/events2/9100EBFE-DE77-4318-9B5C-B16BE58611CE@2x.png"
                                                 style="display:block;" width="36" height="36" alt="Rectangle 2 Copy">
                                        </div>
                                    </td>
                                    <td colspan="1" style="width:8px;height:8px">­</td>
                                    <td style="vertical-align:top;padding:0px;width:36px;height:36px;" colspan="1"
                                        rowspan="5">
                                        <div style="display:block;border-radius:8px;color:#d7d7d7;width:36px;height:36px;">
                                            <img src="static/img/events2/19386FF3-EF87-47D7-B073-3B58D0D2321A@2x.png"
                                                 style="display:block;" width="36" height="36" alt="Rectangle 2 Copy 3">
                                        </div>
                                    </td>
                                    <td colspan="8" style="width:621px;height:8px">­</td>
                                </tr>
                                <tr>
                                    <td colspan="1" style="width:123px;height:3px">­</td>
                                    <td colspan="1" style="width:8px;height:3px">­</td>
                                    <td colspan="1" style="width:8px;height:3px">­</td>
                                    <td colspan="4" style="width:566px;height:3px">­</td>
                                    <td style="vertical-align:top;padding:0px;width:17px;height:20px;" colspan="1"
                                        rowspan="3">
                                        <div style="display:block;width:17px;height:20px;">
                                            <img src="static/img/events2/67C16CB2-A148-4816-95E9-CFB8CA48C390@2x.png"
                                                 style="display:block;" width="17" height="20"
                                                 alt="noun_1161480_cc copy 3">
                                        </div>
                                    </td>
                                    <td colspan="3" style="width:38px;height:3px">­</td>
                                </tr>
                                <tr>
                                    <td colspan="1" style="width:123px;height:16px">­</td>
                                    <td colspan="1" style="width:8px;height:16px">­</td>
                                    <td colspan="1" style="width:8px;height:16px">­</td>
                                    <td colspan="1" style="width:8px;height:16px">­</td>
                                    <td style="vertical-align:top;padding:0px;width:111px;height:16px;" colspan="1"
                                        rowspan="1">
                                        <div style="display:block;font-family:AvenirNext-Medium;font-size:12px;color:#7F7F7F;letter-spacing:0;text-align:left;text-decoration:underline;width:111px;height:16px;">
                                            <img src="static/img/events2/4D7FBD6A-ADDA-4EC3-B8D6-D3323FF0BBF8@2x.png"
                                                 style="display:block;" width="111" height="16"
                                                 alt="Attended mentors ▴">
                                        </div>
                                    </td>
                                    <td colspan="2" style="width:447px;height:16px">­</td>
                                    <td colspan="3" style="width:38px;height:16px">­</td>
                                </tr>
                                <tr>
                                    <td colspan="1" style="width:123px;height:1px">­</td>
                                    <td colspan="1" style="width:8px;height:1px">­</td>
                                    <td colspan="1" style="width:8px;height:1px">­</td>
                                    <td colspan="4" style="width:566px;height:1px">­</td>
                                    <td colspan="3" style="width:38px;height:1px">­</td>
                                </tr>
                                <tr>
                                    <td colspan="1" style="width:123px;height:8px">­</td>
                                    <td colspan="1" style="width:8px;height:8px">­</td>
                                    <td colspan="1" style="width:8px;height:8px">­</td>
                                    <td colspan="8" style="width:621px;height:8px">­</td>
                                </tr>
                                <tr>
                                    <td colspan="14" style="width:868px;height:12px">­</td>
                                </tr>
                                <tr>
                                    <td colspan="1" style="width:123px;height:114px">­</td>
                                    <td style="vertical-align:top;padding:0px;width:729px;height:114px;" colspan="12"
                                        rowspan="1">
                                        <div style="display:block;width:729px;height:114px;">
                                            <img src="static/img/events2/C5CB2523-CBF1-4810-AEE0-A5BF372D8951@2x.png"
                                                 style="display:block;" width="729" height="114" alt="Group 5">
                                        </div>
                                    </td>
                                    <td colspan="1" style="width:16px;height:114px">­</td>
                                </tr>
                                <tr>
                                    <td colspan="14" style="width:868px;height:12px">­</td>
                                </tr>
                                <tr>
                                    <td colspan="9" style="width:788px;height:25px">­</td>
                                    <td style="vertical-align:top;padding:0px;width:50px;height:25px;" colspan="3"
                                        rowspan="1">
                                        <div style="display:block;width:50px;height:25px;">
                                            <img src="static/img/events2/DFE18E43-AFB2-4E2A-8AD2-0684817209B7@2x.png"
                                                 style="display:block;" width="50" height="25"
                                                 alt="Introduction to object oriented languages">
                                        </div>
                                    </td>
                                    <td colspan="2" style="width:30px;height:25px">­</td>
                                </tr>
                                <tr>
                                    <td colspan="14" style="width:868px;height:43px">­</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                    <td colspan="1" style="width:51px;height:39px">­</td>
                    <td style="vertical-align:top;padding:0px;width:249px;height:39px;" colspan="4" rowspan="1">
                        <div style="display:block;width:249px;height:39px;">
                            <a href="events"><img src="static/img/events2/58800A91-0E3A-4F4B-90FC-AD0633605049@2x.png" style="display:block;"
                                    width="249" height="40" alt="Group 3 Copy 5"></a>
                        </div>
                    </td>
                    <td colspan="1" style="width:133px;height:39px">­</td>
                </tr>
                <tr>
                    <td colspan="1" style="width:139px;height:1px">­</td>
                    <td colspan="1" style="width:51px;height:1px">­</td>
                    <td style="vertical-align:top;padding:0px;width:249px;height:39px;" colspan="4" rowspan="2">
                        <div style="display:block;width:249px;height:39px;">
                            <img src="static/img/events2/B2874E7C-ABF5-4388-AC19-D5AE8E9488EA@2x.png" style="display:block;"
                                 width="249" height="40" alt="Group 3 Copy 2">
                        </div>
                    </td>
                    <td colspan="1" style="width:133px;height:1px">­</td>
                </tr>
                <tr>
                    <td colspan="1" style="width:139px;height:38px">­</td>
                    <td colspan="1" style="width:51px;height:38px">­</td>
                    <td colspan="1" style="width:133px;height:38px">­</td>
                </tr>
                <tr>
                    <td colspan="1" style="width:139px;height:1px">­</td>
                    <td colspan="1" style="width:51px;height:1px">­</td>
                    <td style="vertical-align:top;padding:0px;width:249px;height:40px;" colspan="4" rowspan="2">
                        <div style="display:block;width:249px;height:40px;">
                            <img src="static/img/events2/9CA5D5C1-EC5B-4492-A7DA-00F00EFF6DC6@2x.png" style="display:block;"
                                 width="249" height="40" alt="Group 3 Copy 4">
                        </div>
                    </td>
                    <td colspan="1" style="width:133px;height:1px">­</td>
                </tr>
                <tr>
                    <td colspan="1" style="width:139px;height:39px">­</td>
                    <td colspan="1" style="width:51px;height:39px">­</td>
                    <td colspan="1" style="width:133px;height:39px">­</td>
                </tr>
                <tr>
                    <td colspan="1" style="width:139px;height:65px">­</td>
                    <td colspan="6" style="width:433px;height:65px">­</td>
                </tr>
                <tr>
                    <td colspan="1" style="width:139px;height:25px">­</td>
                    <td colspan="2" style="width:56px;height:25px">­</td>
                    <td style="vertical-align:top;padding:0px;width:194px;height:25px;" colspan="1" rowspan="1">
                        <div style="display:block;font-family:AvenirNext-DemiBold;font-size:18px;color:#000000;letter-spacing:0;text-align:left;width:194px;height:25px;">
                            <img src="static/img/events2/1C9D2200-7379-4318-A74E-6FC39AE20DB5@2x.png" style="display:block;"
                                 width="194" height="25" alt="Mentors are going to">
                        </div>
                    </td>
                    <td colspan="3" style="width:183px;height:25px">­</td>
                </tr>
                <tr>
                    <td colspan="1" style="width:139px;height:4px">­</td>
                    <td colspan="6" style="width:433px;height:4px">­</td>
                </tr>
                <tr>
                    <td colspan="1" style="width:139px;height:66px">­</td>
                    <td colspan="1" style="width:51px;height:66px">­</td>
                    <td style="vertical-align:top;padding:0px;width:247px;height:66px;" colspan="3" rowspan="1">
                        <div style="display:block;width:247px;height:66px;">
                            <img src="static/img/events2/8452D02D-DB72-450C-B83B-7CD1DD49BE5E@2x.png" style="display:block;"
                                 width="247" height="67" alt="Group 4">
                        </div>
                    </td>
                    <td colspan="2" style="width:135px;height:66px">­</td>
                </tr>
                <tr>
                    <td colspan="1" style="width:139px;height:1px">­</td>
                    <td colspan="1" style="width:51px;height:1px">­</td>
                    <td style="vertical-align:top;padding:0px;width:247px;height:66px;" colspan="3" rowspan="2">
                        <div style="display:block;width:247px;height:66px;">
                            <img src="static/img/events2/03F1E7F2-2DDC-4339-8B87-21D585589B1C@2x.png" style="display:block;"
                                 width="247" height="67" alt="Group 4 Copy">
                        </div>
                    </td>
                    <td colspan="2" style="width:135px;height:1px">­</td>
                </tr>
                <tr>
                    <td colspan="1" style="width:139px;height:65px">­</td>
                    <td colspan="1" style="width:51px;height:65px">­</td>
                    <td colspan="2" style="width:135px;height:65px">­</td>
                </tr>
                <tr>
                    <td colspan="1" style="width:139px;height:1px">­</td>
                    <td colspan="1" style="width:51px;height:1px">­</td>
                    <td style="vertical-align:top;padding:0px;width:247px;height:66px;" colspan="3" rowspan="6">
                        <div style="display:block;width:247px;height:66px;">
                            <img src="static/img/events2/B742733F-57C0-43E7-86E4-4C2EBE17D2B9@2x.png" style="display:block;"
                                 width="247" height="67" alt="Group 4 Copy 2">
                        </div>
                    </td>
                    <td colspan="2" style="width:135px;height:1px">­</td>
                </tr>
                <tr>
                    <td colspan="1" style="width:139px;height:4px">­</td>
                    <td colspan="1" style="width:51px;height:4px">­</td>
                    <td colspan="2" style="width:135px;height:4px">­</td>
                </tr>
                <tr>
                    <td colspan="6" style="width:1058px;height:22px">­</td>
                    <td colspan="2" style="width:135px;height:22px">­</td>
                </tr>
                <tr>
                    <td colspan="2" style="width:156px;height:25px">­</td>
                    <td style="vertical-align:top;padding:0px;width:194px;height:25px;" colspan="1" rowspan="1">
                        <div style="display:block;font-family:AvenirNext-Bold;font-size:18px;color:#000000;letter-spacing:0;text-align:left;width:194px;height:25px;">
                            <img src="static/img/events2/A70C59FE-650A-45EC-BB7E-F41752E85898@2x.png" style="display:block;"
                                 width="194" height="25" alt="FRIDAY, OCTOBER 24">
                        </div>
                    </td>
                    <td colspan="3" style="width:708px;height:25px">­</td>
                    <td colspan="2" style="width:135px;height:25px">­</td>
                </tr>
                <tr>
                    <td colspan="6" style="width:1058px;height:4px">­</td>
                    <td colspan="2" style="width:135px;height:4px">­</td>
                </tr>
                <tr>
                    <td colspan="1" style="width:139px;height:10px">­</td>
                    <td style="vertical-align:top;padding:0px;width:868px;height:189px;" colspan="4" rowspan="7">
                        <div style="display:block;background-image:url(static/img/events2/4124D5E6-214A-4F9B-907F-7A7926E8B523@2x.png);background-size: 100% auto;width:868px;height:189px;">
                            <table style="border-collapse:collapse;table-layout:fixed;width:868px;height:189px;margin:auto;"
                                   border="0" width="868" height="189">
                                <colgroup>
                                    <col style="width:123px;">
                                    <col style="width:36px;">
                                    <col style="width:8px;">
                                    <col style="width:112px;">
                                    <col style="width:247px;">
                                    <col style="width:109px;">
                                    <col style="width:169px;">
                                    <col style="width:9px;">
                                    <col style="width:8px;">
                                    <col style="width:9px;">
                                    <col style="width:38px;">
                                </colgroup>
                                <tbody>
                                <tr>
                                    <td colspan="11" style="width:868px;height:5px">­</td>
                                </tr>
                                <tr>
                                    <td colspan="5" style="width:526px;height:33px">­</td>
                                    <td style="vertical-align:top;padding:0px;width:109px;height:33px;" colspan="1"
                                        rowspan="1">
                                        <div style="display:block;font-family:AvenirNext-Regular;font-size:24px;color:#000000;letter-spacing:0;text-align:left;width:109px;height:33px;">
                                            <img src="static/img/events2/234BC8F8-6AD2-45F2-9925-E19B1C923A38@2x.png"
                                                 style="display:block;" width="109" height="33" alt="Colaberry">
                                        </div>
                                    </td>
                                    <td colspan="5" style="width:233px;height:33px">­</td>
                                </tr>
                                <tr>
                                    <td colspan="11" style="width:868px;height:96px">­</td>
                                </tr>
                                <tr>
                                    <td colspan="7" style="width:804px;height:2px">­</td>
                                    <td style="vertical-align:top;padding:0px;width:9px;height:20px;" colspan="1"
                                        rowspan="3">
                                        <div style="display:block;width:9px;height:20px;">
                                            <img src="static/img/events2/FF87569D-9F22-4974-A150-7EF900D96B89@2x.png"
                                                 style="display:block;" width="17" height="20" alt="noun_1161480_cc">
                                        </div>
                                    </td>
                                    <td style="vertical-align:top;padding:0px;width:17px;height:20px;" colspan="2"
                                        rowspan="3">
                                        <div style="display:block;width:17px;height:20px;">
                                            <img src="static/img/events2/FD682A42-6955-4E0E-BDA8-3DC371672FF8@2x.png"
                                                 style="display:block;" width="17" height="20"
                                                 alt="noun_1161480_cc copy 2">
                                        </div>
                                    </td>
                                    <td colspan="1" style="width:38px;height:2px">­</td>
                                </tr>
                                <tr>
                                    <td colspan="1" style="width:123px;height:6px">­</td>
                                    <td style="vertical-align:top;padding:0px;width:36px;height:36px;" colspan="1"
                                        rowspan="4">
                                        <div style="display:block;border-radius:8px;color:#d7d7d7;width:36px;height:36px;">
                                            <img src="static/img/events2/304CC8C1-7930-42BF-B8F8-BCAECE8FF0D7@2x.png"
                                                 style="display:block;" width="36" height="36" alt="Rectangle 2 Copy 8">
                                        </div>
                                    </td>
                                    <td colspan="5" style="width:645px;height:6px">­</td>
                                    <td colspan="1" style="width:38px;height:6px">­</td>
                                </tr>
                                <tr>
                                    <td colspan="1" style="width:123px;height:12px">­</td>
                                    <td colspan="1" style="width:8px;height:12px">­</td>
                                    <td style="vertical-align:top;padding:0px;width:112px;height:17px;" colspan="1"
                                        rowspan="2">
                                        <div style="display:block;font-family:AvenirNext-Medium;font-size:12px;color:#7F7F7F;letter-spacing:0;text-align:left;text-decoration:underline;width:112px;height:17px;">
                                            <img src="static/img/events2/2020D1A3-8C62-4761-9248-C41A6FEE438D@2x.png"
                                                 style="display:block;" width="112" height="17"
                                                 alt="Attended mentors ▼">
                                        </div>
                                    </td>
                                    <td colspan="3" style="width:525px;height:12px">­</td>
                                    <td colspan="1" style="width:38px;height:12px">­</td>
                                </tr>
                                <tr>
                                    <td colspan="1" style="width:123px;height:5px">­</td>
                                    <td colspan="1" style="width:8px;height:5px">­</td>
                                    <td colspan="7" style="width:589px;height:5px">­</td>
                                </tr>
                                <tr>
                                    <td colspan="1" style="width:123px;height:13px">­</td>
                                    <td colspan="9" style="width:709px;height:13px">­</td>
                                </tr>
                                <tr>
                                    <td colspan="11" style="width:868px;height:17px">­</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                    <td colspan="1" style="width:51px;height:10px">­</td>
                    <td colspan="2" style="width:135px;height:10px">­</td>
                </tr>
                <tr>
                    <td colspan="1" style="width:139px;height:1px">­</td>
                    <td colspan="1" style="width:51px;height:1px">­</td>
                    <td style="vertical-align:top;padding:0px;width:247px;height:66px;" colspan="3" rowspan="2">
                        <div style="display:block;width:247px;height:66px;">
                            <img src="static/img/events2/4B7B166A-8374-4FD4-ACB4-7E847B0C4012@2x.png" style="display:block;"
                                 width="247" height="67" alt="Group 4 Copy 3">
                        </div>
                    </td>
                    <td colspan="2" style="width:135px;height:1px">­</td>
                </tr>
                <tr>
                    <td colspan="1" style="width:139px;height:65px">­</td>
                    <td colspan="1" style="width:51px;height:65px">­</td>
                    <td colspan="2" style="width:135px;height:65px">­</td>
                </tr>
                <tr>
                    <td colspan="1" style="width:139px;height:1px">­</td>
                    <td colspan="1" style="width:51px;height:1px">­</td>
                    <td style="vertical-align:top;padding:0px;width:247px;height:66px;" colspan="3" rowspan="2">
                        <div style="display:block;width:247px;height:66px;">
                            <img src="static/img/events2/00E3FADE-62B7-48E6-ADC3-8A6D99E463C0@2x.png" style="display:block;"
                                 width="247" height="67" alt="Group 4 Copy 4">
                        </div>
                    </td>
                    <td colspan="2" style="width:135px;height:1px">­</td>
                </tr>
                <tr>
                    <td colspan="1" style="width:139px;height:65px">­</td>
                    <td colspan="1" style="width:51px;height:65px">­</td>
                    <td colspan="2" style="width:135px;height:65px">­</td>
                </tr>
                <tr>
                    <td colspan="1" style="width:139px;height:1px">­</td>
                    <td colspan="1" style="width:51px;height:1px">­</td>
                    <td style="vertical-align:top;padding:0px;width:247px;height:67px;" colspan="3" rowspan="4">
                        <div style="display:block;width:247px;height:67px;">
                            <img src="static/img/events2/CB6E2B30-F0AA-4FA1-8ABA-E68AF63B23CE@2x.png" style="display:block;"
                                 width="247" height="67" alt="Group 4 Copy 5">
                        </div>
                    </td>
                    <td colspan="2" style="width:135px;height:1px">­</td>
                </tr>
                <tr>
                    <td colspan="1" style="width:139px;height:46px">­</td>
                    <td colspan="1" style="width:51px;height:46px">­</td>
                    <td colspan="2" style="width:135px;height:46px">­</td>
                </tr>
                <tr>
                    <td colspan="1" style="width:139px;height:1px">­</td>
                    <td style="vertical-align:top;padding:0px;width:868px;height:129px;" colspan="4" rowspan="3">
                        <div style="display:block;background-image:url(static/img/events2/3CBD2E19-1D30-4F27-B155-365F2827C1A4@2x.png);background-size: 100% auto;width:868px;height:129px;">
                            <table style="border-collapse:collapse;table-layout:fixed;width:868px;height:129px;margin:auto;"
                                   border="0" width="868" height="129">
                                <colgroup>
                                    <col style="width:813px;">
                                    <col style="width:17px;">
                                    <col style="width:38px;">
                                </colgroup>
                                <tbody>
                                <tr>
                                    <td colspan="3" style="width:868px;height:88px">­</td>
                                </tr>
                                <tr>
                                    <td colspan="1" style="width:813px;height:20px">­</td>
                                    <td style="vertical-align:top;padding:0px;width:17px;height:20px;" colspan="1"
                                        rowspan="1">
                                        <div style="display:block;width:17px;height:20px;">
                                            <img src="static/img/events2/68F286E7-FEB8-4A8B-B3BD-B5CA5AD73EB3@2x.png"
                                                 style="display:block;" width="17" height="20"
                                                 alt="noun_1161480_cc copy">
                                        </div>
                                    </td>
                                    <td colspan="1" style="width:38px;height:20px">­</td>
                                </tr>
                                <tr>
                                    <td colspan="3" style="width:868px;height:21px">­</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                    <td colspan="1" style="width:51px;height:1px">­</td>
                    <td colspan="2" style="width:135px;height:1px">­</td>
                </tr>
                <tr>
                    <td colspan="1" style="width:139px;height:19px">­</td>
                    <td colspan="1" style="width:51px;height:19px">­</td>
                    <td colspan="2" style="width:135px;height:19px">­</td>
                </tr>
                <tr>
                    <td colspan="1" style="width:139px;height:109px">­</td>
                    <td colspan="6" style="width:433px;height:109px">­</td>
                </tr>
                <tr>
                    <td colspan="11" style="width:1440px;height:319px">­</td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<script src="static/js/jquery.min.js"></script>
<script src="static/js/jquery.easing.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/custom.js"></script>

</body>
</html>