<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/style.css">
    <style>
        ul > li > a {
            color: white;
        }
    </style>
</head>
<body style="overflow: scroll">
<nav class="navbar navbar-expand-lg" id="mainNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="static/images/logo.png"/></a>
    <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
        Menu
        <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#portfolio">Good Evening, Ana! |</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#about">Progress Board |</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#contact">Learning Center |</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#contact">Setting |</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#contact">Log Out</a>
            </li>
        </ul>
    </div>
</nav>
<div id="skillsetsArea">
    <h3 style="margin-top:30px; margin-left:20px; font-size: 20px;">&lt;&lt;Back to Learning Center Setting</h3>
    <div style="margin-top: 20px; margin-left: 80px; margin-right: 80px;">
        <h2 style="float: left;">Pick Up the Skills</h2>
        <img style="float: right; max-width: 30%;" src="static/images/flat.png"/>
    </div>
    <div id="board"></div>
    <button id="recommend" class="btn btn-lg"
            style="margin: 0 auto; display: block; background: black; color: white; margin-bottom: 20px;">Start Learning
    </button>
</div>
<div class="container" id="resultArea" style="display: none;">
    <h2>Set Up the Meeting</h2>
    <p style="margin-bottom: 40px">According to your background information and your interests, <br>we will match the
        most suitable mentors for you.</p>
    <h4>Mentors</h4>
    <hr/>
    <div class="row" id="mentors">

    </div>
    <hr style="margin-top:40px;"/>
    <div class="row">
        <div class="col-md-8 col-sm-8">
            <h4>Meeting Agenda</h4>
            <select title="question">
                <option selected="selected">Question from online course</option>
            </select>
            <hr/>
            <p>When we are writing nested for loop, how to set up the argument?</p>
            <hr/>
            <p>Why don't we call nested loop the Inception loop?</p>
            <hr/>
            <p>What kind of keyboard exercise should developer have a daily routine?</p>
            <hr/>
            <p>Question about tags in writing CSS. I have a script <a href="goo.gl/hA82JDw">here</a></p>
            <hr/>
        </div>
        <div class="col-md-4 col-sm-4 scheduler">
            <h4>Schedule</h4>
            <select title="question">
                <option selected="selected">Meet Online</option>
            </select><br>
            <div class="btn-group" role="group" aria-label="..." style="margin-top: 20px;">
                <button type="button" class="btn btn-default">M</button>
                <button type="button" class="btn btn-default">T</button>
                <button type="button" class="btn btn-default">W</button>
                <button type="button" class="btn btn-default">R</button>
                <button type="button" class="btn btn-default">F</button>
                <button type="button" class="btn btn-default">Sat</button>
                <button type="button" class="btn btn-default">Sun</button>
            </div>
            <div class="btn-group" role="group1" aria-label="..." style="margin-top: 20px;">
                <button type="button" class="btn btn-default">9 am - 12 pm</button>
                <button type="button" class="btn btn-default">12 pm - 3 pm</button>
                <button type="button" class="btn btn-default">3 pm - 6 pm</button>
            </div>
            <div class="btn-group" role="group1" aria-label="...">
                <button type="button" class="btn btn-default">6 pm - 9 pm</button>
                <button type="button" class="btn btn-default">9 pm - 11 pm</button>
            </div>
            <div class="btn-group" role="group1" aria-label="..." style="margin-top: 20px;">
                <button type="button" class="btn btn-default">20 mins</button>
                <button type="button" class="btn btn-default">40 mins</button>
            </div>
        </div>
    </div>
    <button class="btn btn-lg" style="margin: 0 auto; display: block; background: black; color: white; margin-top: 20px; margin-bottom: 20px; width: 200px;">Request</button>
</div>
<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.4.3/pixi.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/p2.js/0.7.1/p2.js'></script>
<script src="static/js/jquery.min.js"></script>
<script src="static/js/popper.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/index.js"></script>
<script>
    $('#recommend').click(function () {
        var interests = '';
        for (var i = 0; i < activedata.length; i++) {
            interests += activedata[i] + '/'
        }
        data = {
            "menteeId": 29,
            "menteeGender": "female",
            "menteeEducation": "highschool",
            "menteeLocation": "NY",
            "menteeInterests": interests
        };
        $.ajax({
            type: "POST",
            url: "/recommend",
            Accept: "application/json",
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function (data) {
                $('#skillsetsArea').hide();
                for (var i = 0; i < 3; i++){
                    $('#mentors').append('<div class="col-md-2 col-sm-2 col-xs-12">\n' +
                        '            <img src="static/images/mentor' + (i + 1) + '.png" alt="" class="img-rounded img-responsive">\n' +
                        '        </div>\n' +
                        '        <div class="col-md-2 col-sm-2 col-xs-12">\n' +
                        '            <h3>Willie</h3>\n' +
                        '            <p><strong>CS Student</strong></p>\n' +
                        '            <p>' + data.results[i].mentorLocation + ',' + data.results[i].mentorTitle + '</p>\n' +
                        '            <p style="word-wrap: break-word;">' + data.results[i].mentorSkillsets + '</p>\n' +
                        '        </div>')
                }
                $('#resultArea').show();
            }
        });
    });
</script>
</body>
</html>
